@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root{
  --background-color: rgb(243, 242, 242);
  --text-color: rgb(174, 144, 115);
  --additional-color1: rgb(218, 194, 167);
  --additional-color2: rgb(186, 164, 149);
  box-sizing: content-box;
}


.App-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--additional-color1);
  color: var(--background-color);
  height: 10vh;
  border: 2px solid var(--additional-color2);
}

.connexion-page{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connexion-component{
  display: flex ;
  flex-direction: column;
  background-color: var(--additional-color1);
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 20rem;
  border: 2px solid var(--additional-color2);
  border-radius: 15px;
}

.connexion-component form{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
 #inputSubmit{
  margin: 2rem;
  border-radius: 15px;
  border: none;
  padding: 0.5rem;
}