
.burger-menu {
  padding-right: 2rem;
  padding-bottom: 1rem;
  position: absolute;
  top: 1px;
  left: 0px;
  color: var(--background-color);
  z-index: 1;
  height: 350px;
  font-size: 2rem;
  list-style: none;
  background-color: var(--additional-color1);
  position: absolute;
  border: var(--background-color) 1px solid;
  padding: 0rem 1rem 1rem 1rem;
}

a:-webkit-any-link {
  color: var(--background-color);
  text-decoration: none;
  margin-left: 1rem;
}

.burger-menu > ul {
  list-style: none;
  padding: 0;
}

.burger-icon {
  height: 5rem;
  width: 5rem;
}

.burger-button {
  border: none;
  background: none;
}

.menu-icon {
  height: 3rem;
  width: 3rem;
}

.close-burger-button {
  border: none;
  background: none;
}

.top-menu-burger {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.logout-button {
  width: 15rem;
  height: 3rem;
  background-color: white;
  border: none;
  font-size: 2rem;
  border-radius: 15px;
}
