.connexion-page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.button-container button {
  width: 50%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.connexion-component {
  display: flex;
  flex-direction: column;
  background-color: var(--additional-color1);
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 40rem;
  border: 2px solid var(--additional-color2);
  border-radius: 0px 0px 15px 15px;
}

.connexion-component form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.connexion-component input {
  width: 25rem;
  height: 1.5rem;
}

.popup-container {
  background-color: var(--additional-color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 2rem;
  border-radius: 15px;
  position: absolute;
  width: 800px;
  top: 40%;
}

#inputSubmit {
  font-weight: bold;
  padding: 2rem;
  margin: 2rem;
  height: 2rem;
  border-radius: 15px;
  border: none;
  padding: 0.5rem;
}