@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Raleway:wght@100&family=Sacramento&display=swap');

:root {
  --background-color: rgb(243, 242, 242);
  --text-color: rgb(174, 144, 115);
  --additional-color1: #0665c4;
  --additional-color2: #40b1fe;
  --font-style-1: 'Raleway';
  --font-style-2: 'Lato';
  box-sizing: content-box;
}

@media screen and (max-width: 750px) {
  .App {
    width: 100%;
    height: 100vh;
  }

  .App-header-footer h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .interface-container {
    width: 90%;
  }

  .button-container button {
    width: 100%;
  }

  .connexion-component {
    width: 100%;
  }

  .connexion-component input {
    width: 20rem;
  }

  .user-item {
    width: 100%;
  }

  .App-header-footer {
    width: 100%;
  }
}
