.App-header-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--additional-color1);
  color: black;
  height: 10vh;
  border: 2px solid var(--additional-color2);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--additional-color1);
  color: var(--background-color);
  height: 7vh;
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  border: 2px solid var(--additional-color2);
}

.logo-strategin {
  height: 5rem;
}

.footer {
  background-color: var(--additional-color1);
}

