
.project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-project-button {
  width: 8rem;
  padding: 2rem 1rem;
  border-radius: 15px;
  background-color: #0665c4;
  color: white;
  font-weight: bold;
}

.add-project-item * {
  width: 15rem;
}

.project-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.top-project-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--additional-color1);
  color: var(--background-color);
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.project-menu {
  position: absolute;
  right: 30rem;
  background-color: white;
}

.project-menu-button {
  border: none;
  background: none;
}

.project-description {
  width: 80%;
  margin: 1rem;
}

.form-put-project {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

label > select {
  width: 15rem;
}