
.UserManagement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.users-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.users-page h2 {
  padding: 2rem;
  color: var(--additional-color1);
  font-size: 2rem;
}

.user-item-container {
  width: 40%;
}

.item-button-container {
  display: flex;
  justify-content: space-around;
}

.item-button {
  border: none;
  background: none;
}

.user-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--additional-color1);
  margin: 1rem 0rem 3rem 0rem;
  color: var(--background-color);
  padding: 1rem;
  border-radius: 15px;
  -webkit-box-shadow: -1px -1px 15px 5px var(--additional-color1);
  box-shadow: -1px -1px 15px 5px var(--additional-color1);
}

.users-container {
  display: flex;
  margin-top: 2rem;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-add-project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

.user-put-form > input {
  width: 15rem;
}