@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root{
  --background-color: rgb(243, 242, 242);
  --text-color: rgb(174, 144, 115);
  --additional-color1: rgb(218, 194, 167);
  --additional-color2: rgb(186, 164, 149);
}


.App-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--additional-color2);
  color: var(--background-color);
}